* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #50ADEB;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.containerGrid {
    display: grid;
    border: 10px solid gray;
    background-color: white;
}

.grid {
}

.gridHover {
    background-color: black;
}